.Header {
    border: solid 5px;
    border-color: aqua;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-left: 150px;
    margin-right: 150px;
    padding: 25px 50px;

    /* min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../public/topp.png');
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    opacity: 0.35;
    font-size: calc(10px + 2vmin); */
  }